@font-face {
    font-family: "BrainsnacksQuicksand";
    src: url("../content/Quicksand-Light.ttf") format("truetype");
}
@font-face {
    font-family: "BrainsnacksLato";
    src: url("./content/lato-Lite.ttf") format("truetype");
}

html {
  font-family: BrainsnacksQuicksand, BrainsnacksLato, "Avenir Next";
  overflow-x:hidden;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

div.Card {
  position:absolute;
  top: 0px;
  left: 0px;
  --bottom: 0px;
  right: 0px;
  margin: auto;
  width: 100%;
  --1000px;
  height: auto;
  --600px;
  background-color: white;
  --border: 4px solid black;
  --border-radius: 10px;
  overflow:visible;
  padding: 0px;
  --3px;
  --margin:10px;
  display: block;
  overflow-x:hidden;
}

nav.navMobile {
	height:calc(100vh - 180px);
	/* display:none; */
	overflow-x:hidden;
}

header {
  --border-bottom: 2px solid gray;
  padding-bottom: 3px;
  /* height:100vh; */
}

header img {
    --border-right: 2px solid gray;
    cursor: pointer;
    --height:100px;
    padding-top:5%;
    padding-left:5%;
    width:90%;
    max-height: 80px;
}

.logo { 
	display:none;
}

.logoMobile {
	display:block;
}

header ul {
  list-style-type: none;
  margin: 0;
  margin-top: 22px;
  padding: 0;
  --float: right;
}

header li {
  text-decoration: none;
  color: gray;
  padding:10px;
  padding-left:10%;
  cursor:default;
  font-size:30px;
}

header li.active {
    background-color: lightgray;
    color: white;
}

section {
	background-color:lightgray;
	border: 10px solid white;
	/* position: absolute; */
	/* top: 90px; */
	/* --bottom:35px; */
	/* left:0px; */
	/* right:0px; */
	overflow:scroll;
	display: block;
}

.ContentCard {
  --padding-left:300px;
  padding-top:20px;
  text-align:center;
  min-height: calc(100vh - 200px);
}

.ContentCard p {
  text-align:center;
}

footer {
  --position:absolute;
  /* bottom:0px; */
  /* left:0px; */
  /* right:0px; */
  padding: 20px;
  margin-right:3px;
  margin-left:3px;
  margin-bottom: 10px;
  --border-top: 2px solid gray;
  padding-top: 3px;
  height: 30px;
  display: block;
}
div.Impressum {
	display:none;
}
li.ImpressumMobile {
	margin-top:calc(100vh - 124px - 115px - 260px);
}
div.ImpressumMobile {
	font-size:12px;
}

div.SocialMediaWrapper {
	width:100%;
	text-align:center;
	margin-left: calc((100% - 185px)/7);
}

div.SocialMedia {
  display:inline;
  --float:left;
}

img.SocialMedia {
	width:30px;
	height:30px;
	padding-right:calc((100% - 160px)/7);
}

img.contactImg {
  width:300px;
  display:none;
}

.navMobile {
  display: none;
}

.Video {
  	margin-top:20px;
  	text-align:center;
}

.Video>div {
	width: 100%;
	--height: 400px;
	display: inline;
}

.Video iframe {
	margin-bottom:20px;
}



p.aboutText {
	margin-left:5%;
	margin-right:5%;
	font-size:20px;
	width:90%;
	text-align:justify;
}

img.aboutImage {
	height:80px;
	margin:20px;
	margin-bottom:-10px;
}

.aboutDesktopColumn {
	display:none;
}

.aboutMobileRow {
}

.aboutMobileRow>td {
	text-align:center;
}

.aboutText {
	float:left;
	width:100%;
}

table.about {
	margin-top:10px;
}

.Contact {
	width:100%;
}
.contactText {
	margin:auto;
}

.Contact td {
	display:inline-block;
	width:100%;
}

.Contact h3 {
	text-align:center;
}

.contactColumn {
	text-align:justify;
	padding-top: 20px;
	font-size:19px;
}

.contactColumn a {
	font-size:26px;
	color:black;
}

.contactColumn ul {
	list-style:none;
	padding-left:0px;
	text-align:center;
}

.MainPageVideo {
	width:100%;
	height:40vh; 
}

.Video {
	/* width:600px; */
	/* height:335px; */
}
